//- http://zuse.me/
.container
	.row
		.col-lg-4
			.card.bg-light
				img.card-img-top(src="./img/nguyen.jpg")
				.card-body
					h5.card-title Hire me for $10/hr
					p.text-muted Designer and Developer from Vietnam 

			div.list-group.mt-3
				div.list-group-item.active About me
				div.list-group-item
					blockquote.blockquote
						p.mb-0
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer.blockquote-footer
							| Someone famous in 
							cite(title='Source Title') Source Title
				div.list-group-item
					| Over the last 4+ years I have developed several Single Page Applications (SPA), mobile applications and websites for startup companies and small businesses. I have gained experience in latest HTML5 features (File API, UserMedia, Canvas, Websockets, HTML5 Cache, etc...), LESS, SASS, ExtJs/Sencha touch, Java/Android, Oracle, MySQL, Postgre SQL, Codeigniter 2.x, AngularJs, nodejs, several version control systems.

		.col-lg-8
			| Working on e-commerce web portal. Participating in and monitoring different kind of web projects (mostly websites). Mostly using PHP Yii2 and Twitter Bootstrap 3.x frameworks with LESS.

			ul
				li Used technologies:

				li HTML5, CSS3, LESS, SASS, jQuery
				li PHP - Yii2 framework
				li Twitter Bootstrap 3.x framework
				li AngularJs 1.x
				li Sencha ExtJs 5.x, Sencha Touch with Sencha cmd
				li composer, npm, bower, gruntjs
				li Control Version System - Git

			h3 Personal Experience
			h3 Personal Experience