@media (min-width: 1200px) {
	.container-fluid {
		max-width: 1140px;
	}
}

.tab-content {
	border: 1px solid #dee2e6;
    border-top: 0;
    padding: 1rem;
}
.nav-tabs .nav-item {
	margin-right: .15rem;
}
.nav-tabs .nav-link {
	background: #fdfdfd;
    border-bottom: 1px solid #dee2e6;
}