@media (min-width:1200px){.container-fluid{max-width:1140px}}.menunguyen{font-size:.8rem;color:#797979}.menunguyen i{font-size:1rem;margin-right:5px;color:#3c3c3c}.menunguyen .list-group-item{border-radius:0!important;border:0!important;padding:3px 0!important}.tab-content{border:1px solid #dee2e6;border-top:0;padding:1rem}.nav-tabs .nav-item{margin-right:.15rem}.nav-tabs .nav-link{background:#fdfdfd;border-bottom:1px solid #dee2e6}.social i{font-size:1.5rem}.timeline{line-height:1.4em;list-style:none;margin:0;padding:1rem;width:100%}.timeline h1,.timeline h2,.timeline h3,.timeline h4,.timeline h5,.timeline h6{line-height:inherit}.timeline-item{padding-left:40px;position:relative}.timeline-item:last-child{padding-bottom:0}.timeline-info{font-size:12px;font-weight:700;letter-spacing:3px;margin:0 0 .5em 0;text-transform:uppercase;white-space:nowrap;color:#d3d3d3}.timeline-marker{position:absolute;top:0;bottom:0;left:0;width:15px}.timeline-marker:before{background:#047afb;border:3px solid transparent;border-radius:100%;content:"";display:block;height:15px;position:absolute;top:4px;left:0;width:15px;transition:background .3s ease-in-out,border .3s ease-in-out}.timeline-marker:after{content:"";width:3px;background:#ccd5db;display:block;position:absolute;top:24px;bottom:0;left:6px}.timeline-item:last-child .timeline-marker:after{content:none}.timeline-item:not(.period):hover .timeline-marker:before{background:0 0;border:3px solid #047afb}.timeline-content{padding-bottom:2rem}.timeline-content p:last-child{margin-bottom:0}.timeline-item:last-child .timeline-content{padding-bottom:0}@media (min-width:767px){.card-columns{column-count:4}}@media (min-width:911px){.card-columns{column-count:5}}#nguyenTab .nav-link{background:#f3f3f3}#nguyenTab .nav-link.active{background:#f2f2f2;background:-moz-linear-gradient(top,#f2f2f2 0,#fff 100%);background:-webkit-linear-gradient(top,#f2f2f2 0,#fff 100%);background:linear-gradient(to bottom,#f2f2f2 0,#fff 100%)}
.bg-dark .typed-cursor {
	display: inline-block;
	/* float: left; */
	color: #fff;
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
  }
.bg-dark .text-replace {
	white-space: pre;
	line-height: 1.25em;
	color: #87ceeb;
	font-family: "Source Code Pro", Consolas, "Courier New", monospace;
}
.bg-dark .text-replace .include,
.bg-dark .text-replace .include2 {
	color: #f92672;
}
.bg-dark .text-replace .text {
	color: #66d9ef;
}
.bg-dark .text-replace .main {
	color: #a6e22a;
}
.bg-dark .text-replace .main2 {
	color: #b784f7;
}
.bg-dark .text-replace .text2 {
	color: #e6db74;
}
.bg-dark .text-replace .text3 {
	color: #fff;
}
.bg-dark .typed-cursor {
padding-left: 2px;
	color: #fff;
}
@keyframes blink{0%,100%{filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity:1;-khtml-opacity:1;-moz-opacity:1;-ms-opacity:1;-o-opacity:1;opacity:1}50%{filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-opacity:0;-khtml-opacity:0;-moz-opacity:0;-ms-opacity:0;-o-opacity:0;opacity:0}}@-webkit-keyframes blink{0%,100%{filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity:1;-khtml-opacity:1;-moz-opacity:1;-ms-opacity:1;-o-opacity:1;opacity:1}50%{filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-opacity:0;-khtml-opacity:0;-moz-opacity:0;-ms-opacity:0;-o-opacity:0;opacity:0}}
@media (max-width: 575px) {
	#nguyenTabContent {
		border-top: 1px solid #dee2e6;
	}
}
.texttyping {
	overflow-x: scroll
}
.progress .progress-bar {
	animation:loadbar 2s ;
	-webkit-animation:loadbar 2s ;
  }

  @keyframes loadbar {

	0% {
	  width: 0%;
	}

	/* 100% {
	  width: 100%;
	} */
  }
  @-webkit-keyframes loadbar {

	0% {
	  width: 0%;
	}

	/* 100% {
	  width: 100%;
	} */

  }
.textgra {
	font-weight: bold;
    line-height: 1.1rem;
	text-transform: uppercase;
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff8a00), color-stop(0.15, #da1b60), color-stop(0.3, #22f), color-stop(0.45, #4CAF50), color-stop(0.6, #1fa4ff),color-stop(0.75, #1fa4ff), color-stop(0.9, #ff2), color-stop(1, #ff8a00) );
	background-image: gradient( linear, left top, right top, color-stop(0, #ff8a00), color-stop(0.15, #da1b60), color-stop(0.3, #22f), color-stop(0.45, #4CAF50), color-stop(0.6, #1fa4ff),color-stop(0.75, #1fa4ff), color-stop(0.9, #ff2), color-stop(1, #ff8a00) );
	background-image: -moz-gradient( linear, left top, right top, color-stop(0, #ff8a00), color-stop(0.15, #da1b60), color-stop(0.3, #22f), color-stop(0.45, #4CAF50), color-stop(0.6, #1fa4ff),color-stop(0.75, #1fa4ff), color-stop(0.9, #ff2), color-stop(1, #ff8a00) );
	background-image: -o-gradient( linear, left top, right top, color-stop(0, #ff8a00), color-stop(0.15, #da1b60), color-stop(0.3, #22f), color-stop(0.45, #4CAF50), color-stop(0.6, #1fa4ff),color-stop(0.75, #1fa4ff), color-stop(0.9, #ff2), color-stop(1, #ff8a00) );
	color:transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradientBG 8s ease infinite;
	background-size: 300% 300%;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
