#awards.tab-pane.fade(role='tabpanel', aria-labelledby='awards-tab')
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Thành tựu
		dd.col-lg-9.mb-0
			p.lead Năm 2007 được báo DNVN vinh danh với bài viết: "Doanh Nhân Phạm Nguyễn Bảo Nguyên – Giám đốc công ty GC com Tài Năng Trẻ Của Đất Gò Công."
			p.mb-0
				img.img-thumbnail(src="./img/gccom_Attachments_129_gccom.jpg", alt="")
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Cộng đồng
		dd.col-lg-9.mb-0
			p.lead Là người sáng lập ra chuỗi cty Tin học đầu tiên tại Gò Công cũng là người sáng tạo ra diễn đàn kythuatvien.com phục vụ cộng đồng, trang web đã có hơn 100.000 thành viên tham gia - một con số rất lớn thời điểm đó.
