#about.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='about-tab')
	.row
		.col-12
			.bg-dark.p-3.rounded.my-4.texttyping
				span.text-replace


	//- .card
		h5.card-header Giới thiệu
	.border-top.pt-3.mt-3
		.media.text-muted.border-bottom.mb-3
			span.h3.mr-4.mt-1.d-none.d-md-block
				img.rounded(src="./img/313951.jpg", style="width:96px", alt="")
			.media-body
				h5.d-block.text-gray-dark Cuộc sống tại Hoa Kỳ
				p.text-muted.text-sm Tôi đến Hoa Kỳ 2019 và bắt đầu làm việc 3 tháng sau đó. Công việc đầu tiên của tôi là xây dựng 1 business cho mình tại P2B Gravel. Sau đó tôi làm việc cho tờ báo lớn nhất của người Việt tại US - TRẺ Magazine. Tại đây tôi xây dựng toàn bộ hệ thống website và server, SEO và Social media cho doanh nghiệp.
		.media.text-muted.border-bottom.mb-3
			span.h3.mr-4.mt-1.d-none.d-md-block
				img.rounded(src="./img/rough_guide.jpg", style="width:96px" alt="")
			.media-body
				h5.d-block.text-gray-dark Cuộc sống tại Việt Nam
				p.text-muted.text-sm Trước 2019 tôi là Full-Stack Developer tại nhiều công ty Nhật, USA, Singapore... Tôi cũng là giảng viên tại trường chuyên đào tạo công nghệ thông tin FPT. Tôi có hơn 10 năm làm việc trên Single Page Applications (SPA), ứng dụng mobile và website. Tôi có nhiều kinh nghiệm về Design, Sáng tạo thương hiệu, SEO, HTML, SASS, PUG, Ionic, Angular, NodeJS, several version control systems... là tác giả của nhiều sản phẩm phần mềm IT tại VN.
	.row
		.col-lg-auto
			h3.mt-3 Kiếp ngại - Cái nghiệp
			p Làm đâu Dallas thật xa xôi
				br
				| Cái phận đeo mang cũng đã rồi
				br
				| Nhấp nháp ly cà phê nhạt khói
				br
				| Mài mò mấy đoạn code thâm môi
			p Tìm vui đem sống còn thêm đợi
				br
				| Lấy đẹp cho đời chỉ để coi
				br
				| Một xíu anh hào đâu quá nỗi
				br
				| Sao còn ghen tị với mây trời
			p
				cite.text-mute Tự bạch
			p
				img.img-fluid(src="./img/sign.png", style="max-width:200px", alt="")
		.col-lg
			.jumbotron.p-4.mt-3
				h2.h3 Sống là đam mê
				p.lead
					| Cuộc sống không cho phép mình nhàn rỗi nghỉ ngơi là vậy, tôi đến với nghề bằng cả con tim và sự đam mê mãnh liệt. Hơn 12 năm thăng trầm với ngành đáng lẽ có những lúc nên dừng chân trong an nhàn. Nhưng không, tôi vẫn chọn tiếp tục hoạt động cật lực hơn cho sự tồn tại của bản thân mình.
				p.lead.mb-0
					| Với tôi thiết kế và lập trình như là cả một nghệ thuật ăn uống vậy, không gia vị; không hương vị thì sẽ không có một món ăn đẳng cấp nào cả. "Chúng tôi không thiết kế, chúng tôi tạo khoảnh khắc trong sáng tạo. Và sẽ không tạo một sản phẩm cho bạn mà là kể cho bạn nghe về câu chuyện tác phẩm ấy!”
