#portfolio.tab-pane.fade(role='tabpanel', aria-labelledby='portfolio-tab')
	.card-columns.mt-4.mb-2
		a.card(data-fancybox="gallery" href="./img/brochure-1.png")
			img.img-thumbnail(src="./img/brochure-1.png", )
		a.card(data-fancybox="gallery" href="./img/brands.jpg")
			img.img-thumbnail(src="./img/brands.jpg", )
		a.card(data-fancybox="gallery" href="./img/70612798_2468450499903569_4721562019277307904_n-1.jpg")
			img.img-thumbnail(src="./img/70612798_2468450499903569_4721562019277307904_n-1.jpg", )
		a.card(data-fancybox="gallery" href="./img/01.png")
			img.img-thumbnail(src="./img/01.png", )
		a.card.video(data-fancybox="gallery" href="https://www.youtube.com/watch?v=K55dFfPmMqk")
			img.img-thumbnail(src="./img/2019-10-17_232250.png", )
		a.card(data-fancybox="gallery" href="./img/myseo-websiteMDPI-screen-2-1.png")
			img.img-thumbnail(src="./img/myseo-websiteMDPI-screen-2-1.png", )
		a.card(data-fancybox="gallery" href="./img/02_1.png")
			img.img-thumbnail(src="./img/02_1.png", )
		a.card(data-fancybox="gallery" href="./img/02.png")
			img.img-thumbnail(src="./img/02.png", )
		a.card(data-fancybox="gallery" href="./img/done.jpg")
			img.img-thumbnail(src="./img/done.jpg", )
		a.card(data-fancybox="gallery" href="./img/tapchi-1.png")
			img.img-thumbnail(src="./img/tapchi-1.png", )
		a.card(data-fancybox="gallery" href="./img/tapchi-2.png")
			img.img-thumbnail(src="./img/tapchi-2.png", )
		a.card(data-fancybox="gallery" href="./img/kjh.png")
			img.img-thumbnail(src="./img/kjh.png", )
		a.card(data-fancybox="gallery" href="./img/Screen-Shot-2019-03-19-at-11.28.27.png")
			img.img-thumbnail(src="./img/Screen-Shot-2019-03-19-at-11.28.27.png", )
		a.card(data-fancybox="gallery" href="./img/Screen-Shot-2019-03-19-at-11.00.24.png")
			img.img-thumbnail(src="./img/Screen-Shot-2019-03-19-at-11.00.24.png", )
		a.card(data-fancybox="gallery" href="./img/Screen-Shot-2019-04-16-at-22.39.08.jpg")
			img.img-thumbnail(src="./img/Screen-Shot-2019-04-16-at-22.39.08.jpg", )
		a.card(data-fancybox="gallery" href="./img/2019-10-17_231434.png")
			img.img-thumbnail(src="./img/2019-10-17_231434.png", )
		a.card.video(data-fancybox="gallery" href="https://www.youtube.com/watch?v=MP-unvdxa9Y")
			img.img-thumbnail(src="./img/2019-10-17_232051.png", )
		a.card(data-fancybox="gallery" href="./img/seo.png")
			img.img-thumbnail(src="./img/seo.png", )
		a.card(data-fancybox="gallery" href="./img/myseo.png")
			img.img-thumbnail(src="./img/myseo.png", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_51.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_51.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_46.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_46.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_31.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_31.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_9.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_9.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_8.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_8.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_26.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_26.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_7.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_7.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_16.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_16.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_40.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_40.jpg", )
		a.card(data-fancybox="gallery" href="./img/gallery/img_28.jpg")
			img.img-thumbnail(src="./img/gallery/thumb/img_28.jpg", )
		a.card(data-fancybox="gallery" href="./img/cadao.png")
			img.img-thumbnail(src="./img/cadao.png", )
		a.card(data-fancybox="gallery" href="./img/dangnho.png")
			img.img-thumbnail(src="./img/dangnho.png", )
		a.card(data-fancybox="gallery" href="./img/flyer.png")
			img.img-thumbnail(src="./img/flyer.png", )
		a.card(data-fancybox="gallery" href="./img/card.jpg")
			img.img-thumbnail(src="./img/card.jpg", )
	#demonguyen.mb-3
		h3.mt-3.mb-3 Demo
		.border-top.pt-1.mt-3
			.row
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 01
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Noel
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/noel", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 02
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Bọ Rùa
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/borua", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 03
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark AIO Wordpress
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/aio-wordpress", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 04
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Shop
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/DongHung/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 05
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Photo
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/Doi-Photo/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 06
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Restaurant
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/105/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 07
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Food
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/kinhdo/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 08
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Company
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/GEC/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 09
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark GYM
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/CITYGYM/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 10
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark Product
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/luraco/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 11
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark IAC
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/IAC/", target="_blank") View
									i.bi.bi-arrow-right
				.col-sm-6.col-lg-4
					.pt-3.media.border-bottom.border-gray
						h5.h4.mr-4.text-supper-muted 12
						.media-body
							p.mb-1
								strong.d-block.text-gray-dark LIFT
							.pb-3.mb-0(style="line-height:.9rem")
								a.viewmore(href="https://baonguyenyam.github.io/demo/lift/", target="_blank") View
									i.bi.bi-arrow-right

		//- hr
