#portfolio.tab-pane.fade(role='tabpanel', aria-labelledby='portfolio-tab')
	.card-columns.mt-4.mb-2
		a.card(data-fancybox="gallery" href="./img/70612798_2468450499903569_4721562019277307904_n-1.jpg")
			img.img-thumbnail(src="./img/70612798_2468450499903569_4721562019277307904_n-1.jpg", )
		a.card(data-fancybox="gallery" href="./img/01.png")
			img.img-thumbnail(src="./img/01.png", )
		a.card.video(data-fancybox="gallery" href="https://www.youtube.com/watch?v=K55dFfPmMqk")
			img.img-thumbnail(src="./img/2019-10-17_232250.png", )
		a.card(data-fancybox="gallery" href="./img/02_1.png")
			img.img-thumbnail(src="./img/02_1.png", )
		a.card(data-fancybox="gallery" href="./img/02.png")
			img.img-thumbnail(src="./img/02.png", )
		a.card(data-fancybox="gallery" href="./img/done.jpg")
			img.img-thumbnail(src="./img/done.jpg", )
		a.card(data-fancybox="gallery" href="./img/tapchi-1.png")
			img.img-thumbnail(src="./img/tapchi-1.png", )
		a.card(data-fancybox="gallery" href="./img/tapchi-2.png")
			img.img-thumbnail(src="./img/tapchi-2.png", )
		a.card(data-fancybox="gallery" href="./img/kjh.png")
			img.img-thumbnail(src="./img/kjh.png", )
		a.card(data-fancybox="gallery" href="./img/Screen-Shot-2019-03-19-at-11.28.27.png")
			img.img-thumbnail(src="./img/Screen-Shot-2019-03-19-at-11.28.27.png", )
		a.card(data-fancybox="gallery" href="./img/Screen-Shot-2019-03-19-at-11.00.24.png")
			img.img-thumbnail(src="./img/Screen-Shot-2019-03-19-at-11.00.24.png", )
		a.card(data-fancybox="gallery" href="./img/Screen-Shot-2019-04-16-at-22.39.08.jpg")
			img.img-thumbnail(src="./img/Screen-Shot-2019-04-16-at-22.39.08.jpg", )
		a.card(data-fancybox="gallery" href="./img/2019-10-17_231434.png")
			img.img-thumbnail(src="./img/2019-10-17_231434.png", )
		a.card.video(data-fancybox="gallery" href="https://www.youtube.com/watch?v=MP-unvdxa9Y")
			img.img-thumbnail(src="./img/2019-10-17_232051.png", )
		a.card(data-fancybox="gallery" href="./img/seo.png")
			img.img-thumbnail(src="./img/seo.png", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_51.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_51.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_46.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_46.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_31.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_31.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_9.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_9.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_8.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_8.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_26.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_26.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_7.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_7.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_16.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_16.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_40.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_40.jpg", )
		a.card(data-fancybox="gallery" href="http://baonguyenyam.github.io/img/gallery/img_28.jpg")
			img.img-thumbnail(src="http://baonguyenyam.github.io/img/gallery/thumb/img_28.jpg", )
		a.card(data-fancybox="gallery" href="./img/cadao.png")
			img.img-thumbnail(src="./img/cadao.png", )
		a.card(data-fancybox="gallery" href="./img/dangnho.png")
			img.img-thumbnail(src="./img/dangnho.png", )
