#project.tab-pane.fade(role='tabpanel', aria-labelledby='project-tab')
	dl.row.mb-0.mt-3
		dt.col-lg-3
			p
				strong mySEO Tools
				br
				i.small (PHP/Native Script)
		dd.col-lg-9.mb-0
			p.lead Tác giả của bộ công cụ
				| &nbsp;
				span.highlight-2 All-In-One SEO
				|. Đây là bộ công cụ dành riêng cho Marketer, Marketing company vận hành các dự án SEO cho khách hàng, với các tính năng tạo hàng chục ngàn bài viết chuẩn SEO chỉ trong 1 phút. Đi kèm là các plugins cho WordPress vô cùng mạnh mẽ.

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://myseo.website/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://github.com/nguyen-wp", target="_blank") WordPress's plugins
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=fF-1K2nj-v8", target="_blank") Xem video
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0.mt-3
		dt.col-lg-3
			p
				strong.highlight vEditorial
		dd.col-lg-9.mb-0
			p.lead Tác giả của phần mềm quản lý toàn soạn báo, với các tính năng như: quản lý bài viết, quản lý nhuận bút, chấm morat, từ điển tiếng Việt, quản lý cuộc thi, quản lý chi phí, quản lý tiền lương cũng như mua bán ấn phẩm...

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://tapchidangnho.com/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=fF-1K2nj-v8", target="_blank") Xem video
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0.mt-3
		dt.col-lg-3
			p
				strong Cánh Cam
					| &nbsp;
					span.highlight-1 CAB/DAB
				br
				i.small (Native Script)
		dd.col-lg-9.mb-0
			p.lead Tác giả của bộ công cụ All-In-One Website Builder tool (CAB/DAB). Bộ công cụ phát triển web vô cùng mạnh mẽ dựa trên nền tảng Bootstrap. Chưa bao giờ làm web nhanh và dễ dàng đến vậy. Được xây dựng trên nền NodeJS mạnh mẽ sau khi xuất bản web ngoài việc khách sở hữu trang web đã tạo CAB còn cung cấp toàn bộ mã nguồn để việc tùy chỉnh trở nên dễ dàng hơn.

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://baonguyenyam.github.io/canhcam-cab/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=fF-1K2nj-v8", target="_blank") Xem video
						i.bi.bi-caret-right-square.small
	//- hr
	//- dl.row.mb-0
		dt.col-lg-3
			p
				strong FullStack Vietnam
				br
				i.small (Education)
		dd.col-lg-9.mb-0
			p.lead Hệ thống học trực tuyến FullStack Vietnam. FullStack Vietnam không có định nghĩa dạy học, tại FullStack Vietnam chúng tôi tự hào là tổ chức giáo dục đầu tiên đào tạo theo phương pháp Pair Programing rất hiệu quả, nghĩa là các bạn sẽ được làm việc thực sự chứ không đơn thuần là đi học rồi thôi.

			//- ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://fullstackvietnam.com/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=p9H--Uuwrcg", target="_blank") Xem video
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong K-Board-Task
				br
				i.small (NODEJS)
		dd.col-lg-9.mb-0
			p.lead Đây là bộ công cụ giúp doanh nghiệp quản lý tác vụ nhanh chóng và đáp ứng được những yêu cầu riêng biệt.

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://baonguyenyam.github.io/k-board-task", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Kiên Long Lottery
				br
				i.small (NODEJS + .Net)
		dd.col-lg-9.mb-0
			p.lead Tác giả của bộ công cụ quay số trúng thưởng cho Kien Long Bank
			//- ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=tR9_BkOFZzk&index=3&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Liên Á
				br
				i.small (NODEJS + .Net)
		dd.col-lg-9.mb-0
			p.lead Tác giả của bộ công cụ phối màu online cho Liên Á
			//- ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=cAH9n_zgeqE", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	//- hr
	//- dl.row.mb-0
		dt.col-lg-3
			p
				strong TEQTO Video
		dd.col-lg-9.mb-0
			p.lead Sáng tạo Logo, bộ nhận dạng thương hiệu cũng như là đạo diễn kịch bản và dựng clip giới thiệu về công nghệ IoT cho công ty TEQTO
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=jy6UD5JB9zI&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=2", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong P2B Gravel Video
		dd.col-lg-9.mb-0
			p.lead Sáng tạo video clip cho khách hàng
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=MP-unvdxa9Y", target="_blank") Giới thiệu du lịch
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=UYr9xITMY3k", target="_blank")  P2B Gravel - What we do?
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=K55dFfPmMqk", target="_blank")  P2B Gravel - Design
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://www.youtube.com/watch?v=n0e8S1sh8q8", target="_blank")  P2B Gravel - Web
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong TRE Magazine
		dd.col-lg-9.mb-0
			p.lead Sáng tạo website tin tức, hệ thống Rao Vặt và các thành phần khác trong hệ sinh thái
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://baotreonline.com", target="_blank") Trang tin tức
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://raovat.baotreonline.com", target="_blank") Hệ thống rao vặt
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://timban.baotreonline.com", target="_blank") Tìm bạn bốn phương
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://talent.baotreonline.com", target="_blank") Hệ thống thi thố
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong BIZ4X, GET4X
				br
				i.small (Angular TypeScript)
		dd.col-lg-9.mb-0
			p.lead Tham gia sáng tạo và xây dựng hệ thống webapp, mobile app cho công ty 4XLABS một công ty chuyên về giải thuật Listing Search về đổi tiền lớn nhất Singapore
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://biz4x.com/", target="_blank") BIZ4X
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://get4x.com/", target="_blank") GET4X
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong XSLT Builder
		dd.col-lg-9.mb-0
			p.lead Tạo file XSLT dễ dàng và nhanh chóng, tích hợp HTML Convert.

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://canhcam-xslt.herokuapp.com/", target="_blank") XSLT Builder
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong HTML Generators
		dd.col-lg-9.mb-0
			p.lead Là bộ công cụ cho các nhà phát triển web HTML và CSS tạo mã code nhanh chóng cũng như cải thiện SEO và trải nghiệm người dùng.
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://canhcam-html.herokuapp.com/", target="_blank") Code Generators
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://canhcam-layout.herokuapp.com/", target="_blank") Layouts Collection
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://canhcam-pattern.herokuapp.com/", target="_blank") Patterns Collection
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://github.com/baonguyenyam/html-code-tool", target="_blank") Source Code
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong.highlight  K-SASS-CORE
		dd.col-lg-9.mb-0
			p.lead Có rất nhiều mixins được thực hiện bởi các nhà phát triển khác nhau, tuy nhiên để giúp bạn khi làm việc với SASS cực hiệu quả tôi đã viết bộ CORE này từ kinh nghiệm thực tế và đã được nhiều lập trình viên áp dụng, hãy tìm hiểu và sẽ thấy được nhiều thứ khác nữa trong các thư viện mix-in K-SASS-CORE.

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://github.com/baonguyenyam/k-sass-core", target="_blank") K-SASS-CORE
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://github.com/baonguyenyam/k-flex", target="_blank") K-FLEX
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://github.com/baonguyenyam/k-lite-task", target="_blank") K-Task
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong jQuery Plugins
		dd.col-lg-9.mb-0
			p.lead Tác giả của nhiều plugins jQuery cho Front-End phát triển web nhanh chóng và tiện lợi
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://github.com/baonguyenyam/k-gmaps", target="_blank") K-Gmaps
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://github.com/baonguyenyam/k-animation", target="_blank") K-Animation
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://github.com/baonguyenyam/k-responsive-menu", target="_blank") K-Responsive-Menu
						i.bi.bi-caret-right-square.small
	//- hr
	//- dl.row.mb-0
		dt.col-lg-3
			p
				strong Người Việt
		dd.col-lg-9.mb-0
			p.lead Nguoi-Viet.Org với mục đích tạo ra cho bạn một kênh rao vặt trung gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện lợi, nhanh chóng, an toàn, mang đến hiệu quả bất ngờ.
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://nguoi-viet.org/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Viên Sỏi
		dd.col-lg-9.mb-0
			p.lead Là nhà sáng lập tại VienSoi, chúng tôi sáng tạo không ngừng nghỉ, ý tưởng luôn đổi mới, quy trình chuẩn hóa quốc tế. Những công nghệ tiên tiến nhất luôn được áp dụng vào sản phẩm của chúng tôi cũng như là quá trình quản lý chất lượng sản phẩm là cả một chuỗi những công đoạn khép kín phức tạp và qui chuẩn.


			//- ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="http://viensoi.com/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Bridal
		dd.col-lg-9.mb-0
			p.lead Là nhà sáng lập tại hệ thống Áo Cưới, Makeup, Photography chuyên nghiệp CYN Bridal, được phát âm như "Xinh", ý tưởng CYN đến với cách tạo nét chữ C giống như E và chơi chữ N được hiểu như Anh, vậy nên CYN chính là EYN (em yêu anh), và cũng là phương châm hoạt động của ekip: Cưới là Yêu và Nhớ đến CYN!

			//- p
				img.img-thumbnail(src="https://cynbridal.com/img/cyn.jpg", alt="")


			//- ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://cynbridal.com/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	//- hr
	//- dl.row.mb-0
		dt.col-lg-3
			p
				strong Tôi là Rác
		dd.col-lg-9.mb-0
			p.lead CHÚNG TA CÓ MỘT TRÁI ĐẤT THOI THÓP
			p Phần còn lại của thế giới (thiên nhiên) có thể tiếp tục sống mà không có chúng ta, nhưng chúng ta không thể tồn tại nếu thiếu đi chúng”.
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://toilarac.com/", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Các dự án khác
		dd.col-lg-9.mb-0
			p.lead Hơn 12 hoạt động trong lĩnh vực công nghệ với làm việc hầu hết các khách hàng Châu Âu, Nhật, Singapore… tôi hoàn toàn tự tin với năng lực và giá trị cạnh tranh tại Việt Nam. Tại Việt Nam tôi cũng đã tham gia xây dựng nhiều dự án như: Sacombank, Kinh Đô, Novaland, Everich, Kiên Long Bank, RITA Võ…
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="http://nguoi-viet.org", target="_blank") Xem chi tiết
						i.bi.bi-caret-right-square.small
