#skills.tab-pane.fade(role='tabpanel', aria-labelledby='skills-tab')

	dl.row.mb-0.mt-4
		dt.col-lg-3
			p
				strong Giảng dạy
		dd.col-lg-9.mb-0
			p.lead Mình cũng là giảng viên tại FPT, đây là các trang học liệu, channel và công cụ giảng dạy của mình, mọi thứ chia sẻ đều miễn phí.

			//- p
				img.img-thumbnail(src="./img/24059515_1982607211766307_1660517400727037674_o.jpg", alt="")

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="//baonguyenyam.github.io/fpt/", target="_blank") Học liệu
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="//baonguyenyam.github.io/editor/", target="_blank") Công cụ dạy
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://www.youtube.com/channel/UCDE07F201JtIEP4tdAELtfQ/", target="_blank") Channel
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://drive.google.com/drive/folders/0B1JqovD0ypgHTUIwSzQwVEFpUHc", target="_blank") MCSA/MCSE
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Biên tập ấn phẩm
		dd.col-lg-9.mb-0
			p.lead Sáng tạo và thiết kế toàn bộ ấn phẩm cho các tòa soạn báo. Các lĩnh vực liên quan đến báo chí, tòa soạn...
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://en.calameo.com/read/0066946554f047386aa71", target="_blank") Xem ấn phẩm
						i.bi.bi-caret-right-square.small

	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Văn thơ/nghệ thuật
		dd.col-lg-9.mb-0
			p.lead Sáng tạo thơ-văn, tản văn... với nghệ danh là "Vũ trung chi chúc", "Đan Diệp Ý Nhiên", ngoài ra tại hạ còn có khả năng viết thư pháp, nhiếp ảnh, hội họa...

			//- ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://www.facebook.com/groups/vutrungchichuc/?ref=bookmarks", target="_blank") Vũ trung chi chúc thi tập
						i.bi.bi-caret-right-square.small
