#job.tab-pane.fade(role='tabpanel', aria-labelledby='job-tab')
	ul.timeline
		li.timeline-item
			.timeline-info
				span 2020
			.timeline-marker
			.timeline-content
				h3.timeline-title Tạp chí ĐÁNG NHỚ
				p.mb-0.fs-5.font-italic.text-muted Founder‎ - US

				p Tạp chí tiếng Việt tại Hoa Kỳ - Tạp chí ĐÁNG NHỚ hiện là kênh truyền thông ngôn ngữ tiếng Việt với sứ mệnh phổ biến và gìn giữ văn hóa Việt tại hải ngoại.

		li.timeline-item
			.timeline-info
				span 07/2019
			.timeline-marker
			.timeline-content
				h3.timeline-title TRE Magazine
				p.mb-0.fs-5.font-italic.text-muted Web Developer - US

				p TRE Magazine là tờ tạp chí Việt Ngữ lâu đời và lớn nhất tại Hoa Kỳ. Là tờ báo được yêu mến và phát hành rộng rãi nhất tại hải ngoại. TRẺ là tờ báo tiếng Việt đặc sắc, phong phú nội dung, độc đáo về hình thức. Chính vì thế sự tổ chức logic và thân thiện mobile cũng như đa dạng về nội dung là những thách thức lớn nhất đối với dự án này.

				//- p
					a(href="https://baotreonline.com/" target="_blank") baotreonline.com
						|
						i.fa.fa-external-link-alt.ml-1
		li.timeline-item
			.timeline-info
				span 03/2019
			.timeline-marker
			.timeline-content
				h3.timeline-title P2B Gravel
				p.mb-0.fs-5.font-italic.text-muted Founder‎ - US

				p Đồng sáng lập công ty P2B Gravel hay còn gọi là Viên Sỏi tại Fort Worth - Texas. P2B Gravel là dịch vụ thiết kế webiste cho người Việt tại Mỹ, chúng tôi chuyên về thiết kế website và cung cấp dịch vụ cập nhật website cho khách hàng tiệm nail, tiệm tóc, nhà hàng, chợ và các dịch vụ khác. Ngoài ra chúng tôi còn thiết kế các ấn phẩm, quảng cáo, business card, bộ nhận dạng thương hiệu, digital marketing và hệ thống booking vô cùng tiện lợi.
				//- p
					a(href="https://p2bgravel.com/" target="_blank") p2bgravel.com
						|
						i.fa.fa-external-link-alt.ml-1
		li.timeline-item
			.timeline-info
				span 09/2018
			.timeline-marker
			.timeline-content
				h3.timeline-title NETA Vietnam
				p.mb-0.fs-5.font-italic.text-muted Founder‎

				p Đồng sáng lập công ty cổ phần NETA Vietnam, NETA VIETNAM tự hào là nhà cung ứng và đào tạo nhân lực CNTT chuyên nghiệp. Mục tiêu của chúng tôi là giúp bạn xây dựng sự nghiệp trong ngành CNTT và đặt nền tảng cho một tương lai vững chắc.
				//- p
					a(href="https://neta.edu.vn" target="_blank") neta.edu.vn
						|
						i.fa.fa-external-link-alt.ml-1
		//- li.timeline-item
			.timeline-info
				span 08/2018
			.timeline-marker
			.timeline-content
				h3.timeline-title Landingpage Vietnam
				p.mb-0.fs-5.font-italic.text-muted Founder‎

				p Đồng sáng lập Landingpage Vietnam, Landingpage Vietnam cung cấp giải pháp UI/UX hoàn hảo cho khách hàng, xây dựng những website từ nhỏ đến cực lớn, chúng tôi đáp ứng đầy đủ các yêu cầu đến những khách hàng khó tính nhất.
				//- p
					a(href="https://landingpage-vietnam.com" target="_blank") landingpage-vietnam.com
						|
						i.fa.fa-external-link-alt.ml-1


		li.timeline-item
			.timeline-info
				span 07/2018
			.timeline-marker
			.timeline-content
				h3.timeline-title FullStack Vietnam
				p.mb-0.fs-5.font-italic.text-muted Founder‎

				p Sáng lập trung tâm Fullstack Vietnam lò đào tạo lập trình viên, designer chuyên nghiệp tại Sài Gòn. Chúng tôi là các chuyên gia uy tín trong lĩnh vực lập trình ứng dụng, thiết kế và sáng tạo.
				//- p
					a(href="https://fullstackvietnam.com/" target="_blank") fullstackvietnam.com
						|
						i.fa.fa-external-link-alt.ml-1
		//- li.timeline-item
			.timeline-info
				span 2018
			.timeline-marker
			.timeline-content
				h3.timeline-title Freelancer
				p.mb-0.fs-5.font-italic.text-muted PM/Leader

				p Tôi hoạt động 60h trên tuần cho các dự án của nhiều công ty và dự án riêng, với vai trò là quản lý, tư vấn, chuyên viên và nhà sáng lập.
		li.timeline-item
			.timeline-info
				span 03/2018
			.timeline-marker
			.timeline-content
				h3.timeline-title CYN Bridal
				p.mb-0.fs-5.font-italic.text-muted Founder‎

				p Thành lập hệ thống Áo Cưới, Makeup, Photography chuyên nghiệp CYN Bridal.
		li.timeline-item
			.timeline-info
				span 2017 - 2018
			.timeline-marker
			.timeline-content
				h3.timeline-title FPT Education
				p.mb-0.fs-5.font-italic.text-muted Teacher

				p Là giảng viên tại hệ thống giáo dục FPT tại đây tôi đảm nhiệm việc đào tạo Sinh Viên tại các mảng như Design, Front-End, Lập trình và hướng nghiệp cho các bạn.
		li.timeline-item
			.timeline-info
				span 2015 - 2017
			.timeline-marker
			.timeline-content
				h3.timeline-title 4xLabs, HCM & Singapore
				p.mb-0.fs-5.font-italic.text-muted Team Leader (Web Design/Web Develop/Mobile Apps)

				p Là một công ty đa quốc gia 100% vốn Pháp trụ sở tại Singapore hoạt động tại nhiều nước trên thế giới với phần mềm chuyên đổi tiền tệ GET4X, công cụ tìm kiếm. Tại đây tôi phát triển website và xây dựng app mobile trên nhiều công nghệ như .Net,, PHP, Angular, Ionic...
		li.timeline-item
			.timeline-info
				span 2015 - 2016
			.timeline-marker
			.timeline-content
				h3.timeline-title Cánh Cam
				p.mb-0.fs-5.font-italic.text-muted HCM — Team Leader (HTML & CSS)

				p Cánh Cam có 10 năm kinh nghiệm xây dựng chiến lược web cho công ty, thương mại điện tử, đối tác B2B và tập đoàn. Về công nghệ, Cánh Cam phát triển những trang web vượt trội, App điện thoại, giải pháp e-commercial, tiếp thị trực tuyến. Tại đây tôi hoạt động với vai trò là design & web develop,  training cho đội ngũ nhân viên.
		li.timeline-item
			.timeline-info
				span 2014
			.timeline-marker
			.timeline-content
				h3.timeline-title ShinWay
				p.mb-0.fs-5.font-italic.text-muted HCM — Manager & Team Leader  (Web Designer)

				p Là một công ty 100% vốn Nhật bản tại đây tôi phụ trách quản lý về UX/UI sản phẩm. Thiết kế bộ nhận dạng thương hiệu cũng như phát triển web responsive.
		li.timeline-item
			.timeline-info
				span 2012 2014
			.timeline-marker
			.timeline-content
				h3.timeline-title Freesale Vietnam
				p.mb-0.fs-5.font-italic.text-muted HCM — Manager & Team Leader  (Web Designer)

				p Là một công ty 100% vốn Nhật bản tại đây tôi phụ trách quản lý 1 nhóm chuyên về cắt HTML, Web Responsive, Design… Song song đó với kinh nghiệm quản lý tôi hỗ trợ công ty trong công tác tuyển dụng và chấm bài test kỹ năng của ứng viên.

		li.timeline-item
			.timeline-info
				span 2003 - 2011
			.timeline-marker
			.timeline-content
				h3.timeline-title GC Company
				p.mb-0.fs-5.font-italic.text-muted Tiền Giang — Founder‎
				p Tôi đã từng làm việc tại công ty TNHH đầu tư và phát triển tin học Gò Công (GC Com Co.,Ltd) với vai trò là giám đốc công ty chuyên về phát triển ứng dụng Web và phụ trách mảng kinh doanh máy tính trong công ty.
