#skills.tab-pane.fade(role='tabpanel', aria-labelledby='skills-tab')

	dl.row.mb-0.mt-4
		dt.col-lg-3
			p
				strong Teaching
		dd.col-lg-9.mb-0
			p.lead Mình cũng là giảng viên tại FPT, đây là các trang học liệu, channel và công cụ giảng dạy của mình, mọi thứ chia sẻ đều miễn phí.

			//- p
				img.img-thumbnail(src="/cv/img/24059515_1982607211766307_1660517400727037674_o.jpg", alt="")

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="//baonguyenyam.github.io/fpt/", target="_blank") Courseware
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="//baonguyenyam.github.io/editor/", target="_blank") Teaching Tools
						i.bi.bi-caret-right-square.small
				//- li.nav-item
					a.viewmore(href="https://www.youtube.com/channel/UCDE07F201JtIEP4tdAELtfQ/", target="_blank") Channel
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://drive.google.com/drive/folders/0B1JqovD0ypgHTUIwSzQwVEFpUHc", target="_blank") MCSA/MCSE
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Publication Editor
		dd.col-lg-9.mb-0
			p.lead Sáng tạo và thiết kế toàn bộ ấn phẩm cho các tòa soạn báo. Các lĩnh vực liên quan đến báo chí, tòa soạn...
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://en.calameo.com/read/0066946554f047386aa71", target="_blank") View Magazine
						i.bi.bi-caret-right-square.small

	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Poetry/Art
		dd.col-lg-9.mb-0
			p.lead Sáng tạo thơ-văn, tản văn... với nghệ danh là "Vũ trung chi chúc", "Đan Diệp Ý Nhiên", ngoài ra tại hạ còn có khả năng viết thư pháp, nhiếp ảnh, hội họa...

			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://blog.coirieng.com/", target="_blank") Visit my poetry site
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(data-fancybox="galleryart" rel="galleryart" href="/cv/img/93322992_3546394672054212_4887111370492870656_n.jpg") See my arts
						i.bi.bi-caret-right-square.small
					.d-none 
						a.viewmore(data-fancybox="galleryart" rel="galleryart" href="/cv/img/93567559_3546394595387553_9171439671723425792_n.jpg")
						a.viewmore(data-fancybox="galleryart" rel="galleryart" href="/cv/img/93779680_3546394482054231_5746954116525981696_n.jpg")
						a.viewmore(data-fancybox="galleryart" rel="galleryart" href="/cv/img/122721649_4148574058502934_7021294090092055617_n.jpg")
						a.viewmore(data-fancybox="galleryart" rel="galleryart" href="/cv/img/122270064_4148574098502930_6703801723878704159_n.jpg")
	
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Design
		dd.col-lg-9.mb-0
			p.lead Tôi cũng là nhà thiết kế layout website và tạo bộ nhận dạng thương hiệu chuyên nghiệp cho các doanh nghiệp
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(href="https://drive.google.com/drive/folders/11fuKX_JDvQI_4JYveChVPOf5dWP48FFY?usp=sharing", target="_blank") View Brand Identity
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://drive.google.com/drive/folders/1dJmfyNYjC-f_8yUA3jeRhZGCXUltPyFv?usp=sharing", target="_blank") View Brand Identity
						i.bi.bi-caret-right-square.small
				li.nav-item
					a.viewmore(href="https://drive.google.com/drive/folders/1Ty5kCXz4-kzLUwMU5FCQ-Hw8x11jJqR-?usp=sharing", target="_blank") View  Mock-up
						i.bi.bi-caret-right-square.small
	hr
	dl.row.mb-0
		dt.col-lg-3
			p
				strong Networking
		dd.col-lg-9.mb-0
			p.lead Mình cũng là nhà thiết kế hệ thống mạng, máy chủ cho nhiều doanh nghiệp
			ul.nav.flex-column.mb-0
				li.nav-item
					a.viewmore(data-fancybox="galleryview" rel="galleryview" href="/cv/img/196110_576297622397280_660130904_n.jpg") See details
						i.bi.bi-caret-right-square.small
					.d-none 
						a.viewmore(data-fancybox="galleryview" rel="galleryview" href="/cv/img/116044195_3835464136480596_2441556619906952905_n.jpg")
						a.viewmore(data-fancybox="galleryview" rel="galleryview" href="/cv/img/109076003_3835464453147231_5921316308625612366_n.jpg")